* text=auto !eol
bin/mangadesign_version -text
perl/plateDefinition_write.pl -text
perl/plateInputFiber_write.pl -text
perl/plateInput_write.pl -text
perl/yanny_sub.pl -text
pro/mangadesign_version.pro -text
python/Gohan/__init__.py -text
python/Gohan/utils/__init__.py -text
python/Gohan/utils/yanny.py -text
