* text=auto !eol
bin/mangadesign_version -text
perl/plateDefinition_write.pl -text
perl/plateInputFiber_write.pl -text
perl/plateInput_write.pl -text
perl/yanny_sub.pl -text
pro/mangadesign_version.pro -text
python/__init__.py -text
python/utils/__init__.py -text
python/utils/bundle.py -text
python/utils/yanny.py -text
python/utils/zscale.py -text
