python/Gohan/*.egg
python/Gohan/*.egg-info
python/Gohan/*.mo
python/Gohan/*.so
python/Gohan/*.sublime*
python/Gohan/.coverage
python/Gohan/.installed.cfg
python/Gohan/.mr.developer.cfg
python/Gohan/.project
python/Gohan/.py[cod]
python/Gohan/.pydevproject
python/Gohan/.tox
python/Gohan/__pycache__
python/Gohan/bin/*.egg
python/Gohan/bin/*.egg-info
python/Gohan/bin/*.mo
python/Gohan/bin/*.so
python/Gohan/bin/*.sublime*
python/Gohan/bin/.coverage
python/Gohan/bin/.installed.cfg
python/Gohan/bin/.mr.developer.cfg
python/Gohan/bin/.project
python/Gohan/bin/.py[cod]
python/Gohan/bin/.pydevproject
python/Gohan/bin/.tox
python/Gohan/bin/__pycache__
python/Gohan/bin/build
python/Gohan/bin/develop-eggs
python/Gohan/bin/dist
python/Gohan/bin/eggs
python/Gohan/bin/lib
python/Gohan/bin/lib64
python/Gohan/bin/nosetests.xml
python/Gohan/bin/parts
python/Gohan/bin/pip-log.txt
python/Gohan/bin/sdist
python/Gohan/bin/var
python/Gohan/build
python/Gohan/core/*.egg
python/Gohan/core/*.egg-info
python/Gohan/core/*.mo
python/Gohan/core/*.so
python/Gohan/core/*.sublime*
python/Gohan/core/.coverage
python/Gohan/core/.installed.cfg
python/Gohan/core/.mr.developer.cfg
python/Gohan/core/.project
python/Gohan/core/.py[cod]
python/Gohan/core/.pydevproject
python/Gohan/core/.tox
python/Gohan/core/__pycache__
python/Gohan/core/build
python/Gohan/core/develop-eggs
python/Gohan/core/dist
python/Gohan/core/eggs
python/Gohan/core/lib
python/Gohan/core/lib64
python/Gohan/core/nosetests.xml
python/Gohan/core/parts
python/Gohan/core/pip-log.txt
python/Gohan/core/sdist
python/Gohan/core/var
python/Gohan/develop-eggs
python/Gohan/dist
python/Gohan/docs/*.egg
python/Gohan/docs/*.egg-info
python/Gohan/docs/*.mo
python/Gohan/docs/*.so
python/Gohan/docs/*.sublime*
python/Gohan/docs/.coverage
python/Gohan/docs/.installed.cfg
python/Gohan/docs/.mr.developer.cfg
python/Gohan/docs/.project
python/Gohan/docs/.py[cod]
python/Gohan/docs/.pydevproject
python/Gohan/docs/.tox
python/Gohan/docs/__pycache__
python/Gohan/docs/build
python/Gohan/docs/develop-eggs
python/Gohan/docs/dist
python/Gohan/docs/eggs
python/Gohan/docs/lib
python/Gohan/docs/lib64
python/Gohan/docs/nosetests.xml
python/Gohan/docs/parts
python/Gohan/docs/pip-log.txt
python/Gohan/docs/sdist
python/Gohan/docs/var
python/Gohan/eggs
python/Gohan/etc/*.egg
python/Gohan/etc/*.egg-info
python/Gohan/etc/*.mo
python/Gohan/etc/*.so
python/Gohan/etc/*.sublime*
python/Gohan/etc/.coverage
python/Gohan/etc/.installed.cfg
python/Gohan/etc/.mr.developer.cfg
python/Gohan/etc/.project
python/Gohan/etc/.py[cod]
python/Gohan/etc/.pydevproject
python/Gohan/etc/.tox
python/Gohan/etc/__pycache__
python/Gohan/etc/build
python/Gohan/etc/develop-eggs
python/Gohan/etc/dist
python/Gohan/etc/eggs
python/Gohan/etc/lib
python/Gohan/etc/lib64
python/Gohan/etc/nosetests.xml
python/Gohan/etc/parts
python/Gohan/etc/pip-log.txt
python/Gohan/etc/sdist
python/Gohan/etc/var
python/Gohan/lib
python/Gohan/lib64
python/Gohan/nosetests.xml
python/Gohan/parts
python/Gohan/pip-log.txt
python/Gohan/plateTargets/*.egg
python/Gohan/plateTargets/*.egg-info
python/Gohan/plateTargets/*.mo
python/Gohan/plateTargets/*.so
python/Gohan/plateTargets/*.sublime*
python/Gohan/plateTargets/.coverage
python/Gohan/plateTargets/.installed.cfg
python/Gohan/plateTargets/.mr.developer.cfg
python/Gohan/plateTargets/.project
python/Gohan/plateTargets/.py[cod]
python/Gohan/plateTargets/.pydevproject
python/Gohan/plateTargets/.tox
python/Gohan/plateTargets/__pycache__
python/Gohan/plateTargets/build
python/Gohan/plateTargets/develop-eggs
python/Gohan/plateTargets/dist
python/Gohan/plateTargets/eggs
python/Gohan/plateTargets/lib
python/Gohan/plateTargets/lib64
python/Gohan/plateTargets/nosetests.xml
python/Gohan/plateTargets/parts
python/Gohan/plateTargets/pip-log.txt
python/Gohan/plateTargets/sdist
python/Gohan/plateTargets/var
python/Gohan/scripts/*.egg
python/Gohan/scripts/*.egg-info
python/Gohan/scripts/*.mo
python/Gohan/scripts/*.so
python/Gohan/scripts/*.sublime*
python/Gohan/scripts/.coverage
python/Gohan/scripts/.installed.cfg
python/Gohan/scripts/.mr.developer.cfg
python/Gohan/scripts/.project
python/Gohan/scripts/.py[cod]
python/Gohan/scripts/.pydevproject
python/Gohan/scripts/.tox
python/Gohan/scripts/__pycache__
python/Gohan/scripts/build
python/Gohan/scripts/develop-eggs
python/Gohan/scripts/dist
python/Gohan/scripts/eggs
python/Gohan/scripts/lib
python/Gohan/scripts/lib64
python/Gohan/scripts/nosetests.xml
python/Gohan/scripts/parts
python/Gohan/scripts/pip-log.txt
python/Gohan/scripts/sdist
python/Gohan/scripts/var
python/Gohan/sdist
python/Gohan/utils/*.egg
python/Gohan/utils/*.egg-info
python/Gohan/utils/*.mo
python/Gohan/utils/*.so
python/Gohan/utils/*.sublime*
python/Gohan/utils/.coverage
python/Gohan/utils/.installed.cfg
python/Gohan/utils/.mr.developer.cfg
python/Gohan/utils/.project
python/Gohan/utils/.py[cod]
python/Gohan/utils/.pydevproject
python/Gohan/utils/.tox
python/Gohan/utils/__pycache__
python/Gohan/utils/build
python/Gohan/utils/develop-eggs
python/Gohan/utils/dist
python/Gohan/utils/eggs
python/Gohan/utils/lib
python/Gohan/utils/lib64
python/Gohan/utils/nosetests.xml
python/Gohan/utils/parts
python/Gohan/utils/pip-log.txt
python/Gohan/utils/pywcsgrid2/*.egg
python/Gohan/utils/pywcsgrid2/*.egg-info
python/Gohan/utils/pywcsgrid2/*.mo
python/Gohan/utils/pywcsgrid2/*.so
python/Gohan/utils/pywcsgrid2/*.sublime*
python/Gohan/utils/pywcsgrid2/.coverage
python/Gohan/utils/pywcsgrid2/.installed.cfg
python/Gohan/utils/pywcsgrid2/.mr.developer.cfg
python/Gohan/utils/pywcsgrid2/.project
python/Gohan/utils/pywcsgrid2/.py[cod]
python/Gohan/utils/pywcsgrid2/.pydevproject
python/Gohan/utils/pywcsgrid2/.tox
python/Gohan/utils/pywcsgrid2/__pycache__
python/Gohan/utils/pywcsgrid2/build
python/Gohan/utils/pywcsgrid2/develop-eggs
python/Gohan/utils/pywcsgrid2/dist
python/Gohan/utils/pywcsgrid2/eggs
python/Gohan/utils/pywcsgrid2/lib
python/Gohan/utils/pywcsgrid2/lib64
python/Gohan/utils/pywcsgrid2/nosetests.xml
python/Gohan/utils/pywcsgrid2/parts
python/Gohan/utils/pywcsgrid2/pip-log.txt
python/Gohan/utils/pywcsgrid2/sdist
python/Gohan/utils/pywcsgrid2/var
python/Gohan/utils/sdist
python/Gohan/utils/var
python/Gohan/var
