* text=auto !eol
bin/mangadesign_version -text
perl/plateDefinition_write.pl -text
perl/plateInputFiber_write.pl -text
perl/plateInput_write.pl -text
perl/yanny_sub.pl -text
pro/mangadesign_version.pro -text
python/Gohan/InputCatalogue.py -text
python/Gohan/PlateInput.py -text
python/Gohan/PlateMags.py -text
python/Gohan/__init__.py -text
python/Gohan/core/__init__.py -text
python/Gohan/core/colourPrint.py -text
python/Gohan/core/configuration.py -text
python/Gohan/core/logger.py -text
python/Gohan/core/setupTools.py -text
python/Gohan/defaults.yaml -text
python/Gohan/defaults/__init__.py -text
python/Gohan/etc/BOSS_SNvsFibMag2.dat -text
python/Gohan/etc/mangaDefinition_Default.par -text
python/Gohan/etc/mangaInput_Default.par -text
python/Gohan/etc/manga_simbmap_127.par -text
python/Gohan/exceptions.py -text
python/Gohan/mangaDefinition_Default.par -text
python/Gohan/utils/Staralt.py -text
python/Gohan/utils/__init__.py -text
python/Gohan/utils/colorama/__init__.py -text
python/Gohan/utils/colorama/ansi.py -text
python/Gohan/utils/colorama/ansitowin32.py -text
python/Gohan/utils/colorama/initialise.py -text
python/Gohan/utils/colorama/win32.py -text
python/Gohan/utils/colorama/winterm.py -text
python/Gohan/utils/getSDSSRun.py -text
python/Gohan/utils/pywcsgrid2/__init__.py -text
python/Gohan/utils/pywcsgrid2/aux_artists.py -text
python/Gohan/utils/pywcsgrid2/axes_wcs.py -text
python/Gohan/utils/pywcsgrid2/kapteyn_celestial.py -text
python/Gohan/utils/pywcsgrid2/locator_formatter.py -text
python/Gohan/utils/pywcsgrid2/wcs_helper.py -text
python/Gohan/utils/pywcsgrid2/wcs_transforms.py -text
python/Gohan/utils/readPath.py -text
python/Gohan/utils/runAll.py -text
